@import url(../css/normalize.css);

/* Global settings*/
*{
	font-family: roboto;
}
section{
	display: flex;
	flex-direction: row;
	background-color: #CCCC;
}
h2{
	font-size: 20px;
	font-weight: 600;
}
/*Header page*/
.container{
	height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container button, .container-video button{
	background-color: transparent;
	border: none;
}
/*Principal content*/
main{
	height: 900px;
	flex: 1;
}
.container-video{
	width: 960px;
}
#controllers{
	width: 960px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.channel-information{
	display: inherit;
	align-items: center;
}
.statistics {
	display: flex;
	flex-direction: row;
}
.statistics p {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 600;
}

.describe-video{
	margin: 5px;
	width: 470px;
	font-size: 14px;
}

div#channel.statistics{
	flex-direction: column;
}
div#channel.statistics p {
	margin: 0 15px;
}

#statistic-channel p {
	margin: 0 15px;
}
#subscribe-button{
	width: 159px;
	height: 40px;
	color: #fff;
	background-color: #CC0000;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	border-radius: 5px;
}

/* Aside Bar*/
aside{
	width: 420px;
}
#container-aside ul{
	padding: 0;
	margin: 0;
}
.aside-video{
	height: 90px;
	padding: 0;
	display: flex;
	flex-direction: row;
	margin: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 12px;
}
.aside-video p {
	margin: 0px;
}
.aside-column-info{
	width: 196px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.title-aside-video{
	font-weight: 600;
	font-size: 14px;
}